.template {
  .edit-button {
    margin-left: 10px;
    border: none;
    background: none;
    vertical-align: middle;
    // visibility: hidden;
  }

  .placeholder {
    font-style: italic;
    cursor: default;
    color: rgba(0, 0, 0, 0.54)
  }

  .upload {
    border: none;

    i {
      vertical-align: middle;
    }
  }

  .title {
    .placeholder {
      color: rgba(0, 0, 0, 0.24)
    }
  }

  .message:hover,
  .title-container:hover,
  .logo:hover,
  .user-name:hover,
  .user-role:hover {
    .edit-button {
      visibility: visible;
    }
  }

  .files {
    .edit-button {
      visibility: visible;
    }
  }

  .chat-text-box {
    width: 100%;
    padding: 0;
    font-family: Helvetica;
    resize: none;
    min-height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.54);
  }


  .snackbar-container {
    position: absolute;
    width: 100%;
    background-color: #f5f5f5;
    .save-snackbar {
      width: 845px;
      background-color: #fff;
      padding: 10px 0;
      margin: 0 auto;
      text-align: right;

      button {
        margin-right: 20px;
      }
    }
  }

  .hidden-bar {
    transition: 1s;
    bottom: -60px;
  }

  .shown-bar {
    bottom: 0;
    transition: 1s;
  }
}