<div class="video">
  <img src={{video.thumbnail}} alt="" class="photo">
  <p class="text ellipsis" title="{{video.name}}">{{video.name}}</p>
  <div class="buttons-container">
    <a class="menu">
      <img src="/assets/dots.png" alt="">
    </a>
    {{send-button
        class="inlineBlock"
        onClick=(action 'sendBtnClick')
    }}
  </div>
</div>