<div class="videos-container">
  <div class="add-button">
    <img src="/assets/plus-icon.svg" alt="" class="icon">
    <p class="text">New video</p>
  </div>
  {{library-content-video}}
  {{library-content-video}}
</div>