<header>
  <div class="navigation-components">
    <a href="" class="navigation">{{fa-icon "bars"}}</a>
    <img src="/assets/logo_bizkonect.png" class="logo">
  </div>
  <div class="navigation-components right">
    {{auth-buttons redirect=redirect class="inlineBlock"}}
    <div class="photo"></div>
  </div>
</header>