<div class="video">
  <img src="/assets/photo-video.png" alt="" class="photo">
  <p class="text" title="World Health Organization">Hello world! fdgdfgdfgdfgdfgdfg</p>
  <div class="buttons-container">
    <a href="" class="menu">
      <img src="/assets/dots.png" alt="">
    </a>
    <a href="" class="send">
      {{fa-icon "send"}}
    </a>
  </div>
</div>