<div class="navigation">
  <img src="/assets/video-tab-icon.png" alt="" class="tab-icon">
  <div class="navigation-bar-container">
    <ul class="navigation-bar">
      <li>
        <a class="active">VIDEOS</a>
      </li>
      <li>
        <a>LANDINGS</a>
      </li>
      <li>
        <a >EMAILS</a>
      </li>
      <li>
        <a >ANALYTICS</a>
      </li>
      <li>
        <a >CONTACTS</a>
      </li>
    </ul>
  </div>
</div>