<div class="navigation">
  <img src="/assets/video-tab-icon.png" alt="" class="tab-icon">
  <div class="navigation-bur-container">
    <ul class="navigation-bur">
      <li>
        <a href="">VIDEOS</a>
      </li>
      <li>
        <a href="">LANDINGS</a>
      </li>
      <li>
        <a href="">EMAILS</a>
      </li>
      <li>
        <a href="">ANALYTICS</a>
      </li>
      <li>
        <a href="">CONTACTS</a>
      </li>
    </ul>
  </div>
</div>