<div class="vertical-aligned-middle reset-password full-page">
  <div class="container">
    <h2 class="title">Reset Password</h2>
    <form class="form" {{action 'reset' on='submit'}}>
      {{mdl-textfield label='Email' type="email" value=email}}
      {{#if errorMessage}}
        <p class="error">Error: {{errorMessage}}</p>
      {{/if}}
      <div class="button-container">
        {{mdl-button isRaised=true type="submit" text='send'}}
      </div>
    </form>
  </div>
</div>