//CONTENT
.content {
  //VIDEOS
  .videos-container {
    margin: 0 auto;
    max-width: 920px;

    @media (max-width: 910px) {
      max-width: 695px;
    }

    @media (max-width: 695px) {
      max-width: 470px;
    }

    @media (max-width: 470px) {
      text-align: center;
    }

    .add-button {
      border: 2px dashed #757575;
      box-sizing: border-box;
      color: #757575;
      display: inline-block;
      height: 204px;
      margin: 0 0 10px 10px;
      overflow: hidden;
      position: relative;
      text-align: center;
      vertical-align: top;
      width: 215px;

      .buttons {
        margin-top: 60px;
        .record,
        .upload {
          font-size: 38px;
          display: inline-block;
          cursor: pointer;
          outline: none;
        }

        .record {
          margin-left: 10px;
        }

        .upload {
          margin-right: 10px;
        }

        .record {
          color: #757575;
          transition: 0.5s;
        }

        .upload {
          color: #757575;
          transition: 0.5s;
        }

        .record:hover {
          color: $record-buttons-color;
          transition: 0.5s;
        }

        .upload:hover {
          color: $upload-buttons-color;
          transition: 0.5s;
        }
      }

      .text {
        font-size: 24px;
      }

      @media (max-width: 567px) {
        display: none;
      }
    }

    .video-container {
      display: inline-block;
    }
  }
}