.app-menu {
  width: 240px;
  float: left;
  box-sizing: border-box;
  padding: 0 10px;
  margin-top: 28px;

  .menu-button {
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;

    span {
      margin-left: 20px;
      vertical-align: middle;
    }

    i {
      vertical-align: middle;
    }
  }

  .menu-button {
    box-shadow: none;
    background-color: none;
    color: #757575;
    transition: .3s;
  }

  .menu-button:hover {
    background-color: rgba(93, 144, 226, .54);
    color: #fff;
    transition: .3s;
  }

  .active {
    box-shadow: 4px 4px 10px 0 rgba(112, 157, 228, .5);
    background-color: rgba(93, 144, 226, 1);
    color: #fff;
  }
}

.desktop-menu {
  @media (max-width: 910px) {
    display: none;
  }
}

.mobile-menu {
  width: 100%;
  line-height: 24px;
  margin-top: 0;
}

.app-version {
  position: fixed;
  bottom: 30px;
  left: 20px;
  font-family: 'Roboto Bold';

  @media (max-width: 910px) {
    position: static;
    margin-left: 20px;
  }
}