@import 'material-design-lite';

@font-face {
  font-family: 'Roboto';
  src: url('/assets/Roboto/roboto-regular-webfont.woff2') format('woff2'),
       url('/assets/Roboto/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.vertical-align-middle:before {
  content:'';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.popupContainer {
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;

  &.shown {
    display: block;
  }

  .popup {
    background-color:  #ffffff;
    border-radius: 2px;
    box-shadow: 0px 1px 48.6px 5.4px rgba(0, 0, 0, 0.35);
    height: 371px;
    max-width: 725px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    .popupTitle,
    .popupSubTitle {
      color: #161616;
      font-weight: 600;
      text-align: center;
    }

    .popupTitle {
      font-size: 20px;
    }

    .popupSubTitle {
      font-size: 15px;
    }
  }

  .uploadIconContainer,
  .buttonContainer {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  #upload-video {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  .uploadIcon {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    background-size: cover;
    cursor: pointer;
    background-color: #fff;
    border: none;
  }

  .uploadIcon {
    transition: 1s;
    background-image: url('/assets/upload.svg');
  }

  .uploadIcon:hover {
    transition: 1s;
    background-image: url('/assets/uploadHover.svg');
  }

  .closeButton {
    width: 88px;
    height: 36px;
    font-size: 18px;
    font-weight: 600;
    color: #161616;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
  }

  .closeButton {
    transition: 1s;
    background-color: #fff; 
  }

  .closeButton:hover {
    transition: 1s;
    background-color: #f0f0f0;
  }

  .closeButton:focus {
    transition: 1s;
    background-color: #b3b3b3;
    outline: none;
  }

}

.watchVideoContainer {
  min-height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  background-size: cover;

  header {
    width: 100%;
    height: 64px;
    background-color:  #fff;
    box-shadow: 0px 0px 4.05px 0.95px rgba(0, 0, 0, 0.28);
  }

  .logoContainer {
    display: inline-block;
    width: 50%;
    text-align: left;

    .logo{
      display: inline-block;

      img {
        margin-left: 15px;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        line-height: 63px;
      }

      .logoText {
        color:  rgba(0, 0, 0, 0.87);
        vertical-align: middle;
        font-weight: 300;
        font-size: 26px;
        line-height: 63px;
      }
    }
  }

  .socialContainer {
    display: inline-block;
    width: 49%;
    text-align: right;

    .social {
      display: inline-block;
      margin-right: 20px;
      vertical-align: middle;
      line-height: 64px;

      a {
        margin-right: 8px;
        width: 27px;
        height: 27px;
        text-decoration: none;

        img {
          width: 27px;
          height: 27px;
        }
      }

      a:last-child {
        margin-right: 0;
      }
    }

    .contacts {
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
      line-height: 64px;

      .phone,
      .email {
        vertical-align: middle;
        text-align: left;
        line-height: 32px;

        img {
          display: inline-block;
          margin-right: 25px;
        }

        p {
          display: inline-block;
          margin: 0;
          color:  rgba(0, 0, 0, 0.87);
          font-weight: 600;
          font-size: 14px;
          font-family: 'Roboto', Arial, sans-serif;
        }
      }

      .phone {
        img {
          width: 18px;
          height: 18px;
        }
      }

      .email {
        img {
          width: 20px;
          height: 16px;
        }
      }
    }
  }

  .video {
    margin: 20px auto 0 auto;
    width: 845px;
    border-radius: 2px;
    background-color:  #fff;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.35);

    .videoHeader {
      padding-top: 10px;
      height: 54px;

      .photo {
        display: inline-block;
        margin-left: 10px;
        width: 38px;
        height: 40px;
        border-radius: 20px;
        background-image: url('/assets/user.png');
      }

      .text {
        display: inline-block;
        margin-left: 10px;
      }

      .userName,
      .userMessage {
        margin-bottom: 0;
        color:  rgba(0, 0, 0, 0.87);
        font-weight: 400;
      }

      .userName {
        font-size: 20px;
      }

      .userMessage {
        font-size: 16px
      }

      .videoContent {
        width: 100%;
        height: 477px;
        box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.35);
      }
    }

    .videoFooter {
      position: relative;
      height: 96px;
      cursor: text;

      .container {
        display: inline-block;
        width: 90%;
        text-align: left;
      }

      .footerText {
        margin: 22px 0 0 71px;
        color: rgba(0, 0, 0, 0.54);
        font-weight: 400;
        font-size: 16px;
        font-family: Helvetica;
      }

      .send {
        margin: 20px 0 0 71px;
        padding: 0;
        outline: none;
        border: none;
        background: none;
        color:  rgba(0, 0, 0, 0.24);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
      }

      .replyContainer {
        display: inline-block;
        padding-top: 20px;
        width: 9%;
        vertical-align: top;
      }

      .reply {
        top: 20px;
        display: inline-block;
        width: 56px;
        height: 56px;
        outline: none;
        border: none;
        border-radius: 28px;
        background: none;
        box-shadow: 2px 4px 11px 0px rgba(0, 0, 0, 0.35);
        font-size: 20px;
        cursor: pointer;
      }
    }

  }

  footer {
    margin-top: 20px;
    width: 100%;
  }
}