@import 'material-design-lite';
@import 'library';
@import 'watch-buttons';
@import 'variables';
@import 'auth';
@import 'send-popup';

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Roboto Bold';
  src: url('/assets/Roboto/Roboto-Bold.ttf') format('ttf'),
       url('/assets/Roboto/roboto-bold.woff2') format('woff2'),
       url('/assets/Roboto/roboto-bold.woff') format('woff');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Roboto Regular';
  src: url('/assets/Roboto/Roboto-Regular.ttf') format('ttf'),
       url('/assets/Roboto/roboto-regular.woff2') format('woff2'),
       url('/assets/Roboto/roboto-regular-webfont.woff') format('woff');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Roboto Thin';
  src: url('/assets/Roboto/Roboto-Thin.ttf') format('ttf'),
       url('/assets/Roboto/roboto-thin.woff2') format('woff2'),
       url('/assets/Roboto/roboto-thin.woff') format('woff');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Roboto Medium';
  src: url('/assets/Roboto/Roboto-Medium.ttf') format('ttf'),
       url('/assets/Roboto/roboto-medium.woff2') format('woff2'),
       url('/assets/Roboto/roboto-medium.woff') format('woff');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Roboto Italic';
  src: url('/assets/Roboto/Roboto-Italic.ttf') format('ttf'),
       url('/assets/Roboto/roboto-italic.woff2') format('woff2'),
       url('/assets/Roboto/roboto-italic.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Regular', Arial, sans-serif;
  background-color: #f5f5f5;
}

.full-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.vertical-aligned-middle:before {
  content:'';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.vertical-align-middle:before {
  display: inline-block;
  width: 0;
  height: 100%;
  content:'';
  vertical-align: middle;
}

.error {
  color: $error-message-color;
  text-align: center;
  margin: 10px auto 0px auto;
}

//UPLOAD POPUP
.popupContainer {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.35);

  &.shown {
    display: block;
  }

  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 725px;
    width: 100%;
    height: 371px;
    border-radius: 2px;
    background-color:  #ffffff;
    box-shadow: 0px 1px 48.6px 5.4px rgba(0, 0, 0, 0.35);
    transform: translate(-50%, -50%);

    .popupTitle,
    .popupSubTitle {
      color: #161616;
      text-align: center;
      font-weight: 600;
    }

    .popupTitle {
      font-size: 20px;
    }

    .popupSubTitle {
      font-size: 15px;
    }
  }

  .uploadIconContainer,
  .buttonContainer {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  #upload-video {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .uploadIcon {
    display: inline-block;
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border: none;
    background-color: #fff;
    background-size: cover;
    cursor: pointer;
  }

  .uploadIcon {
    background-image: url('/assets/upload.svg');
    transition: 1s;
  }

  .uploadIcon:hover {
    background-image: url('/assets/uploadHover.svg');
    transition: 1s;
  }

  .closeButton {
    width: 88px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #161616;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
  }

  .closeButton {
    background-color: #fff;
    transition: 1s; 
  }

  .closeButton:hover {
    background-color: #f0f0f0;
    transition: 1s;
  }

  .closeButton:focus {
    outline: none;
    background-color: #b3b3b3;
    transition: 1s;
  }

}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  z-index: 999;
}

//WATCH VIDEO PAGE
.watchVideoContainer {
  min-height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  background-size: cover;

  //HEADER
  header {
    width: 100%;
    height: 64px;
    background-color:  #fff;
    box-shadow: 0px 0px 4.05px 0.95px rgba(0, 0, 0, 0.28);

    .logoContainer {
      display: inline-block;
      width: 50%;
      text-align: left;

      .logo{
        display: inline-block;

        img {
          margin-left: 15px;
          width: 30px;
          height: 23px;
          vertical-align: middle;
          line-height: 63px;
        }

        .logoText {
          color:  rgba(0, 0, 0, 0.87);
          vertical-align: middle;
          font-family: 'Roboto Thin';
          font-size: 26px;
          line-height: 63px;
        }
      }
    }

    .socialContainer {
      display: inline-block;
      width: 49%;
      text-align: right;

      .social {
        display: inline-block;
        margin-right: 20px;
        vertical-align: middle;
        line-height: 64px;

        a {
          margin-right: 8px;
          width: 27px;
          height: 27px;
          text-decoration: none;

          img {
            width: 27px;
            height: 27px;
          }
        }

        a:last-child {
          margin-right: 0;
        }
      }

      .contacts {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
        line-height: 64px;

        .phone,
        .email {
          vertical-align: middle;
          text-align: left;
          line-height: 32px;

          img {
            display: inline-block;
            margin-right: 16px;
          }

          p {
            display: inline-block;
            margin: 0;
            color:  rgba(0, 0, 0, 0.87);
            font-size: 14px;
            font-family: 'Roboto Regular';
          }
        }

        .phone {
          img {
            width: 18px;
            height: 18px;
          }
        }

        .email {
          img {
            width: 20px;
            height: 16px;
          }
        }
      }
    }
  }

  //VIDEO PLAYER CONTAINER
  .video {
    margin: 20px auto 0 auto;
    width: 845px;
    border-radius: 2px;
    background-color:  #fff;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.35);

    .videoHeader {
      padding-top: 10px;
      height: 54px;

      .photo {
        display: inline-block;
        margin-left: 10px;
        width: 38px;
        height: 40px;
        border-radius: 20px;
        background-image: url('/assets/user.png');
      }

      .text {
        display: inline-block;
        margin-left: 10px;
      }

      .userName,
      .userMessage {
        margin-bottom: 0;
        color:  rgba(0, 0, 0, 0.87);
        font-weight: 500;
      }

      .userName {
        font-size: 20px;
      }

      .userMessage {
        font-size: 16px
      }

    }

    .videoContent {
      min-height: 400px;
      width: 100%;
      box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.35);
    }

    .video-js .vjs-big-play-button {
      width: 50px;
      height: 50px;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      margin: -25px 0 0 -25px;
    }

    .videoFooter {
      position: relative;
      padding-bottom: 10px;

      .container {
        display: inline-block;
        width: 100%;
        text-align: left;
        cursor: text;
      }

      .reply-text-placeholder {
        margin: 22px 0 20px 71px;
        color: rgba(0, 0, 0, 0.54);
        font-weight: 400;
        font-size: 16px;
        font-family: Helvetica;
      }

      .send {
        margin-left: 71px;
        padding: 0;
        outline: none;
        border: none;
        background: none;
        color:  rgba(0, 0, 0, 0.24);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
      }

      .send:disabled {
        cursor: default;
      }

      .reply-text {
        display: none;
        margin: 10px auto;
        padding: 0;
        min-height: 100px;
        width: 85%;
        outline: none;
        border: none;
        color: rgba(0, 0, 0, 0.54);
        font-weight: 400;
        font-size: 16px;
        font-family: Helvetica;
        resize: none;
      }

      .shown-textarea {
        .reply-text {
          display: block;
        }

        .reply-text-placeholder {
          display: none;
        }
      }

      .replyContainer {
        display: inline-block;
        padding-top: 20px;
        width: 9%;
        vertical-align: top;
      }
    }
  }

  //FOOTER
  footer {
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
    height: 46px;
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.87);
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    line-height: 46px;

    .logo-container {
      float: left;
      padding-left: 20px;
      vertical-align: middle;

      .logo {
        margin-left: 10px;
        height: 46px;
        widows: 190px;
      }
    }

    .rights {
      float: right;
      padding-right: 20px;
      vertical-align: middle;
    }
  }
}

//VIDEO RECORD 
.video-record-container {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.35);

  &.shown {
    display: block;
  }

  .error {
    margin-bottom: -30px;
  }

  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 725px;
    width: 100%;
    min-height: 643px;
    border-radius: 2px;
    background-color:  #f8f8f8;
    box-shadow: 5px 10px 21px 0px rgba(0, 0, 0, 0.26);
    transform: translate(-50%, -50%);
    
    .videoNameContainer {
      text-align: center;

      input {
        border: 1px solid #f6f6f6;
        background: none;
        font-size: 18px;
        margin: 10px 0 -10px 0;
      }
    }

    .popupTitle {
      padding-top: 25px;
      color: rgba(0, 0, 0, 0.87);
      text-align: center;
      font-weight: 300;
      font-size: 30px;
      font-family: 'Roboto-Thin', Arial, sans-serif;
    }

    .video-js {
      margin: 15px auto 0 auto;
    }

    .button-container {
      display: inline-block;
      width: 100%;
      text-align: right;
      margin-top: 40px;

      button {
        border-radius: 2px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color:  #f1f1f1;
        width: 85px;
        height: 36px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.50);
        text-transform: uppercase;
        font-weight: 500;
      }

      button:last-child {
        margin-right: 15px;
      }

      button:hover {
        color: rgba(0, 0, 0, 0.87);
      }

      .save:disabled {
        cursor: default;
      }
    }
  }
}