.popupContainer {
  border-radius: 2px;
  border-width: 1px;
  box-sizing: border-box;
  background-color:  #ffffff;
  box-shadow: 0px 1px 48.6px 5.4px rgba(0, 0, 0, 0.35);
  margin: 200px auto 0 auto;
  width: 725px;
  height: 371px;
}

.popupContainer .popupTitle,
.popupContainer .popupSubTitle {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
  text-align: center;
}

.popupContainer .popupTitle {
  font-size: 20px;
}

.popupContainer .popupSubTitle {
  font-size: 15px;
}

.uploadIconContainer,
.buttonContainer {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.uploadIcon {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  background-size: cover;
  background-image: url('/assets/upload.svg');
  cursor: pointer;
}

.cansel {
  width: 88px;
  height: 36px;
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  /*background-color: #fff; */
  border-radius: 2px;
  cursor: pointer;
}

.cansel {
  transition: 1s;
  background-color: #fff; 
}

.cansel:hover {
  transition: 1s;
  background-color: #f0f0f0;
}

.cansel:focus {
  transition: 1s;
  background-color: #b3b3b3;
  outline: none;
}