.send-popup-container {
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  &.shown {
    display: block;
  }

  .popup {
    background-color:  #f8f8f8;
    border-radius: 2px;
    box-shadow: 5px 10px 21px 0px rgba(0, 0, 0, 0.26);
    left: 50%;
    max-width: 300px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    .popupTitle {
      color: rgba(0, 0, 0, 0.87);
      font-family: 'Roboto-Thin', Arial, sans-serif;
      font-size: 30px;
      font-weight: 300;
      padding-top: 25px;
      text-align: center;
    }

    .send-form {
      text-align: center;
      width: 100%;

      input {
        display: inline-block;
        width: 200px;
      }
    }

    .button-container {
      display: inline-block;
      margin-top: 40px;
      text-align: right;
      width: 100%;

      button {
        background-color:  #f1f1f1;
        border: none;
        border-radius: 2px;
        color: rgba(0, 0, 0, 0.50);
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        height: 36px;
        outline: none;
        text-transform: uppercase;
        width: 85px;
      }

      button:last-child {
        margin-right: 15px;
      }

      button:hover {
        color: rgba(0, 0, 0, 0.87);
      }

      .save:disabled {
        cursor: default;
      }
    }
  }
}