# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
/backend/uploads
/backend/public
/private_key.pem
/public_key.pem
/backend/userConfig.js
/backend/public
/backend/cacert.pem
/backend/cakey.pem
/backend/passphrase.txt
/documentation
/backend/private_key.pem
/backend/public_key.pem
/cacert.pem
/cakey.pem
/passphrase.txt
/package-lock.json
/cloud_sql_proxy.exe
/backend/prodConfig.js
/BKTest-163ad7524446.json
/bzkdev2-0ecc34ad2452.json
/bzkdev1-0ecc34ad2452.json
/bzkdev2-45550f4d3b90.json
