.conversations-content
  .conversations-container
    .conversation(
      ng-repeat="item in vm.list | orderBy:'-updated'"
      ng-click="vm.onViewClick({$data: item.id})")
      .content
        .message-info.ellipsis
          span(ng-if="!vm.toUser && item.email && item.email != 'null' && item.email != 'undefined'") to: {{item.email}}
          span(ng-if="!vm.toUser && !item.email || item.email === 'null' || item.email === 'undefined'") Public
          span(ng-if="vm.toUser") from: {{item.author}}
        .message
          .bubble(ng-if="vm.toUser && !item.CONVERSATION_IS_VIEWED")
          .subject.ellipsis {{item.title || 'Untitled'}}
          .subject.ellipsis.bold(ng-if="vm.toUser && !item.CONVERSATION_IS_VIEWED") {{item.title || 'Untitled'}}
          .person.ellipsis(ng-if="item.lastMessage") - {{item.lastMessageAuthor || 'User'}}:
          .person.ellipsis.bold(ng-if="vm.toUser && !item.CONVERSATION_IS_VIEWED && item.lastMessage") - {{item.lastMessageAuthor || 'User'}}:
          .last-message.ellipsis(ng-if="item.lastMessage || item.message") {{item.lastMessage || item.message}}
          .last-message.ellipsis.bold(ng-if="vm.toUser && !item.CONVERSATION_IS_VIEWED && (item.lastMessage || item.message)") {{item.lastMessage || item.message}}
        .progress-bar(ng-if="!vm.toUser")
          //- conversation send
          .icon.blue.done
            i.material-icons send

          //- conversation opend
          .icon.blue(ng-if="!item.CONVERSATION_IS_VIEWED")
            i.material-icons drafts
          .icon.blue.done(ng-if="item.CONVERSATION_IS_VIEWED")
            i.material-icons drafts

          //-
          //- .icon.blue
          //-   i.fa.fa-hand-pointer-o(aria-hidden="true")
          
          //- conversation video vatched
          //- .icon.blue
            i.material-icons remove_red_eye

          //- 
          //- .icon.blue
            //- i.material-icons pause_circle_outline

          //- conversation file was downloaded
          .icon.blue(ng-if="!item.FILE_IS_DOWNLOADED")
            i.material-icons attachment
          .icon.blue.done(ng-if="item.FILE_IS_DOWNLOADED")
            i.material-icons attachment

          //- have chat in conversation
          .icon.blue(ng-if="!item.NEW_MESSAGE")
            i.material-icons chat
          .icon.blue.done(ng-if="item.NEW_MESSAGE")
            i.material-icons chat

          //- all previous points done
          .done-all(ng-if="item.doneAll")
            i.material-icons done
            span.success Contact!
      .btn-container
        md-button.view(ng-click="vm.onViewClick({$data: item.id})")
          | view
