.conversations-content
  .conversations-container
    .conversation(
      ng-repeat="item in vm.list | orderBy:'-updated'"
      ng-click="vm.onViewClick({$data: item.id})")
      .content
        .message-info.ellipsis
          span(ng-if="!vm.toUser && item.email && item.email != 'null' && item.email != 'undefined'") to: {{item.email}}
          span(ng-if="!vm.toUser && !item.email || item.email === 'null' || item.email === 'undefined'") Public
          span(ng-if="vm.toUser") from: {{item.author}}
        .message
          .bubble(ng-if="vm.toUser && !item.CONVERSATION_IS_VIEWED")

          .subject.ellipsis(ng-if="(vm.toUser && item.CONVERSATION_IS_VIEWED) || !vm.toUser") {{item.title || 'Untitled'}}
          .subject.ellipsis.bold(ng-if="vm.toUser && !item.CONVERSATION_IS_VIEWED") {{item.title || 'Untitled'}}

          .person.ellipsis(ng-if="(vm.toUser || !vm.toUser) && item.lastMessage") - {{item.lastMessageAuthor || 'User'}}:
          .person.ellipsis.bold(ng-if="vm.toUser && !item.CONVERSATION_IS_VIEWED && item.lastMessage") - {{item.lastMessageAuthor || 'User'}}:

          .last-message.ellipsis(ng-if="((vm.toUser && item.CONVERSATION_IS_VIEWED) || !vm.toUser) && (item.lastMessage || item.message)") {{item.lastMessage || item.message}}
          .last-message.ellipsis.bold(ng-if="vm.toUser && !item.CONVERSATION_IS_VIEWED && (item.lastMessage || item.message)") {{item.lastMessage || item.message}}
        .progress-bar(ng-if="!vm.toUser")
          //- conversation send
          .icon.blue.done
            i.material-icons send
              .delivered
                i.material-icons
                  .small-icon done
            span Aug 2, 5:35pm: Email delivered

          //- conversation opend
          .icon.blue(ng-if="!item.CONVERSATION_IS_VIEWED")
            i.material-icons drafts
            span Roman didn't open your email/message
          .icon.blue.done(ng-if="item.CONVERSATION_IS_VIEWED")
            i.material-icons drafts
              .delivered
                i.material-icons
                  .small-icon done
            span Aug 2, 5:36pm: Roman opened your email/message

          //-
          .icon.blue.done
            i.fa.fa-hand-pointer-o(aria-hidden="true")
              .delivered
                i.material-icons
                  .small-icon done
            span Aug 2, 5:36 pm: Roman clicked the link to conversation
          
          //- conversation video watched
          .icon.blue(ng-if="!item.VIDEO_IS_WATCHED")
            i.material-icons remove_red_eye
            span Roman didn't watch the video yet
          .icon.blue.done(ng-if="item.VIDEO_IS_WATCHED")
            i.material-icons remove_red_eye
              .delivered
                i.material-icons
                  .small-icon done
            span Aug 2, 3:37pm: Roman watched your video
          //- 
          .icon.blue.done
            i.material-icons pause_circle_outline
              .delivered
                i.material-icons
                  .small-icon done
            span Aug 2, 3:37pm: Roman looked through your video

          //- conversation file was downloaded
          .icon.blue(ng-if="!item.FILE_IS_DOWNLOADED")
            i.material-icons attachment
            span Roman didn't download your files
          .icon.blue.done(ng-if="item.FILE_IS_DOWNLOADED")
            i.material-icons attachment
              .delivered
                i.material-icons
                  .small-icon done
            span Aug 2, 3:37pm: Roman downloaded your attachment
          //- have chat in conversation
          .icon.blue(ng-if="!item.NEW_MESSAGE")
            i.material-icons chat
            span Roman didn't answer yet
          .icon.blue.done(ng-if="item.NEW_MESSAGE")
            i.material-icons chat
              .delivered
                i.material-icons
                  .small-icon done
            span Aug 2, 3:37pm: Congrats, it worked! You received the respones from Roman 
          //- all previous points done
          .done-all(ng-if="item.doneAll")
            i.material-icons done
            span.success Contact!
          //- md-button#expand Expand
      
      .btn-container
        md-button.view(ng-click="vm.onViewClick({$data: item.id})")
          | open
