.conversations-content
  .conversations-container
    .conversation(ng-repeat="item in vm.list")
      .indicators
        .not-viewed(ng-if="!item.viwatching")
          i.material-icons remove_red_eye
        .viewed(ng-if="item.watching")
          i.material-icons remove_red_eye
        .mail(ng-if="!item.viewed")
          i.material-icons email
        .mail-opend(ng-if="item.viewed")
          i.material-icons drafts
        .files
          i.material-icons archive

      p.email
        span(ng-bind="item.email")
      p.title
        span(
        ng-if="item.title && item.title != null && item.title != 'undefined'"
        ng-bind="item.title")
        span(ng-if="!item.title || item.title === null || item.title === 'undefined'") Untitle
      p.message
        span(
        ng-if="item.message && item.message != null && item.message != 'undefined'"
        ng-bind="item.message")
        span(ng-if="!item.message || item.message === null || item.message === 'undefined'") No message
      .button-container
        button.btn.mdl-button.mdl-js-button.mdl-button--raised.view(ng-click="vm.onViewClick({$data: item.id})") 
          | view
