.vertical-aligned-middle.auth.full-page
  .container
    h2.title Reset Password
    form.form(layout="column")
      md-input-container
        label Email
        input(
          type="email"
          ng-model="email"
          required)
      p.error(ng-if="vm.errorMessage") Error: {{vm.errorMessage}}
      p.success(ng-if="vm.successMessage") {{vm.successMessage}}
      .button-container
        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(
          ng-click="vm.sendResetRequest(email)")
          | send