.profile-wrap {
  width: 100%;
  min-height: 100%;

  .profile-container {
    position: relative;
    display: inline-block;
    width: calc(100% - 280px);
  }

  .title-container {
    text-align: center;

    .title {
      margin: 16px 0;
      font-size: 24px;
      line-height: 24px;
    }
  }

  .button-container { 
    text-align: center;
  }

  .profile-photo,
  .company-logo {
    border: 1px solid rgba(0, 0, 0, 0.26);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
  }

  .profile-photo {
    width: 320px;
    height: 320px;
    margin: 0 auto 20px auto; 
    background-size: cover;
    background-image: url('/files/images/account_photo.svg');
  }

  .upload-photo {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.26);
    top: 260px;
    right: 50%;
    margin-right: -25px;
    text-align: center;
    line-height: 50px;
    background-color: #fff;

    i {
      vertical-align: middle;
    }
  }

  .info-content {
    @media (min-width: 600px) {
      width: 300px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .second-name {
    margin-left: 56px;
  }

  .errorMessage {
    text-align: center;
  }

  .personal-info,
  .company-info {
    padding: 0 25px;
    @media (min-width: 600px) {
      padding: 0px;
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }
  }

  .personal-info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    @media (min-width: 600px) {
      box-sizing: border-box;
      border-bottom: none;
      border-right: 1px solid rgba(0, 0, 0, 0.26);
    }
  }

  .company-logo {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin-right: 10px;
    background-image: url('/files/images/company_logo.svg');
    background-size: contain;
  }
}
