//LIBRARY
.library-wrapper {
  background-color: #f5f5f5;
  padding-bottom: 40px;
  width: 100%;

//NAVIGATION
  .navigation {
    margin-bottom: 20px;

    // .tab-icon {
    //   float: left;
    //   height: 40px;
    //   margin: 25px 0 0 25px;
    //   width: 40px;
    // }

    .navigation-bar-container {
      text-align: center;
      width: 100%;

      .navigation-bar {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        list-style: none;
        margin: 58px auto 0 auto;
        max-width: 950px;
        width: 100%;
        padding: 0;

        li {
          display: inline-block;
          font-family: 'Roboto Medium';
          font-size: 16px;
          font-weight: 500;
          padding: 0 37px;
          text-decoration: none;
          cursor: pointer;
          outline: none;
        }

        li {
          border-bottom: 5px solid #f5f5f5;
          color: rgba(0, 0, 0, 0.54);
        }

        li:hover {
          color: $navigation-hovered-color;
          transition: 0.3s;
        }


        .active {
          border-bottom: 5px solid $navigation-hovered-color;
          color: $navigation-hovered-color;
        }
      }
    }
  }

  // Record
  .video-record-container,
  .video-preview-container {
    max-width: 725px;
    width: 100%;
    border-radius: 2px;
    background-color:  #f8f8f8;

    .error {
      margin-bottom: -30px;
      text-align: center;
    }

    .videoNameContainer {
      text-align: center;

      input {
        border: 1px solid #f6f6f6;
        background: none;
        font-size: 18px;
        margin: 16px 0 -10px 0;
        text-align: center;
        width: 80%;
      }
    }

    .popupTitle {
      padding-top: 16px;
      color: rgba(0, 0, 0, 0.87);
      text-align: center;
      font-size: 24px;
    }

    .button-container {
      display: inline-block;
      width: 100%;
      text-align: right;
      margin-top: 24px;
      padding: 0 16px 24px 0;
      box-sizing: border-box;
      
      .save,
      .send {
        margin-left: 10px;
      }
    }

    .record-video {
      margin: 0 16px;
    }
  }

  // Preview
  .video-preview-container {
    padding: 16px 16px 0 16px;
    max-width: 600px;
    width: 100%;
    .title {
      margin: 0 auto;
      font-size: 18px;
      width: 300px;
    }

    .video-container {
      width: 100%;
      .vjs-video-wrap,
      .video-js {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  // Upload
  .uploadForm {
    .popup {
      border-radius: 2px;
      background-color:  #ffffff;
      box-shadow: 0px 1px 48.6px 5.4px rgba(0, 0, 0, 0.35);
      box-sizing: border-box;
      max-width: 725px;
      padding: 30px;
      width: 100%;
    }

    .popupTitle,
    .popupSubTitle {
      color: #161616;
      text-align: center;
      font-weight: 600;
    }

    .popupTitle {
      font-size: 20px;
    }

    .popupSubTitle {
      font-size: 15px;
    }

    .uploadIconContainer,
    .buttonContainer {
      display: inline-block;
      width: 100%;
      text-align: center;
    }

    #upload-video {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    .uploadIcon {
      display: inline-block;
      width: 150px;
      height: 150px;
      border: none;
      background-color: #fff;
      background-size: cover;
      cursor: pointer;
    }

    .uploadIcon {
      transition: 1s;
      background-image: url('/files/images/uploadHover.svg');
    }

    .uploadIcon:hover {
      background-image: url('/files/images/upload.svg');
      transition: 1s;
    }

    .closeButton {
      width: 88px;
      height: 36px;
      border: none;
      border-radius: 2px;
      color: #161616;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 18px;
      cursor: pointer;
    }

    .closeButton {
      background-color: #fff;
      transition: 1s; 
    }

    .closeButton:hover {
      background-color: #f0f0f0;
      transition: 1s;
    }

    .closeButton:focus {
      outline: none;
      background-color: #b3b3b3;
      transition: 1s;
    }

  }
}
  // Send popup
  .send-popup-container {
    .popup {
      background-color:  #f8f8f8;
      border-radius: 2px;
      max-width: 300px;
      width: 100%;
      padding: 16px 16px 24px 16px;
      outline: none;
    }

    .popupTitle {
      color: rgba(0, 0, 0, 0.87);
      font-family: 'Roboto Thin', Arial, sans-serif;
      font-size: 24px;
      font-weight: 300;
      padding-top: 25px;
      text-align: center;
      padding: 0;
    }

    .send-form {
      text-align: center;
      width: 100%;

      input {
        margin-top: 16px;
        display: inline-block;
        width: 90%;
      }
    }

    .button-container {
      display: inline-block;
      margin-top: 24px;
      text-align: right;
      width: 100%;

      button:last-child {
        margin-left: 10px;
      }
    }
  }

.inlineBlock {
  display: inline-block;
}
