//LIBRARY
.library-wrapper {
  background-color: #f5f5f5;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  .library-content {
    background: none;
    display: inline-block;

    .md-tab.md-active {
      color: rgba(93, 144, 226, 1);
      font-weight: 400;
    }

    md-tabs md-tabs-wrapper {
      border-color: rgba(93, 144, 226, .3);
    }

    md-tabs md-ink-bar {
      color: rgba(93, 144, 226, 1);
      background-color: rgba(93, 144, 226, 1);
    }
  }

  .tubs-content {
    background: none;
    padding-bottom: 40px;
  }

  .md-tab {
    font-size: 16px;
  }

  // Preview
  .video-preview-container {
    box-sizing: border-box;
    padding: 16px 16px 0 16px;
    box-sizing: border-box;
    width: 100%;

    .title {
      margin: 0 auto;
      font-size: 18px;
      width: 285px;
    }

    .video-container {
      width: 100%;
    }
  }

  .video-preview .popup {
    width: 640px;
    max-width: 100%;
  }
}

// Send popup
.send-popup-container {
  .popup {
    background-color:  #f8f8f8;
    border-radius: 2px;
    max-width: 300px;
    width: 100%;
    padding: 16px 16px 24px 16px;
    outline: none;
    box-sizing: border-box;
  }

  .popupTitle {
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Roboto Thin', Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding-top: 25px;
    text-align: center;
    padding: 0;
  }

  .send-form {
    text-align: center;
    width: 100%;

    .email-container {
      width: 100%;
      margin-bottom: 0;
    }

    input {
      margin-top: 16px;
      display: inline-block;
      width: 100%;
    }
  }

  .button-container {
    display: inline-block;
    margin-top: 24px;
    text-align: right;
    width: 100%;

    button:last-child {
      margin-left: 10px;
    }
  }
}

.inlineBlock {
  display: inline-block;
}
