.release-notes-page {
  width: 100%;
  min-height: 100%;
  height: 100%;
  background-color: #fff;

  .title {
    text-align: center;
  }

  .mdl-grid {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  h4, h6 {
    color: #1E88E5;
  }
  h6 {
    display: flex;
    i {
      line-height: inherit;
    }
  }

  li:last-child {
    padding-bottom: 16px;
    border-bottom: 1px dotted #1E88E5;
  }
  .wrapper {
    align-items: flex-start;
  }
  .container {
    max-width: 1024px;
  }
}