.users-wrapper {
  width: 100%;
  min-height: 100%;

  .title-container {
    width: 100%;
    text-align: center;

    .title {
      display: inline-block;
    }
  }

  .users-content {
    margin-top: 20px;
    padding: 0 30px;
  }

  .name,
  .email,
  .buttons {
    display: inline-block;
    height: 50px;
    padding: 0 10px 0 10px;
  }

  .name,
  .email {
    width: 200px;
    font-size: 16px;
  }

  .buttons {
    button {
      margin-right: 10px;
    }

    button:last-child {
      margin-right: 0;
    }
  }

  // Add popup
  .add-popup-container {
    .popup {
      background-color:  #f8f8f8;
      border-radius: 2px;
      box-shadow: 5px 10px 21px 0px rgba(0, 0, 0, 0.26);
      max-width: 300px;
      width: 100%;
    }

    .popupTitle {
      color: rgba(0, 0, 0, 0.87);
      font-family: 'Roboto-Thin', Arial, sans-serif;
      font-size: 30px;
      font-weight: 300;
      padding-top: 25px;
      text-align: center;
    }

    .add-form {
      text-align: center;
      width: 100%;

      input {
        display: inline-block;
        width: 80%;
      }
    }

    .button-container {
      display: inline-block;
      margin-top: 40px;
      text-align: right;
      width: 100%;

      button:last-child {
        margin-right: 15px;
      }
    }
  }
}