.video-tile
  img.photo(src='data:image/png;base64,{{vm.video.attributes.thumbnail}}', alt='')
  p.text.ellipsis(title='{{vm.video.attributes.name}}') {{vm.video.attributes.name}}
  .buttons-container
    a.menu
      img(src='/files/images/dots.png', alt='')
    .inlineBlock(ng-click="vm.onSendClick()")
      .send
        .fa.fa-paper-plane(aria-hidden="true")