.fab-buttons{
  bottom: 60px;
  cursor: default;
  padding: 10px;
  position: fixed;
  right: 65px;
  text-align: center;
  z-index: 2;

  @media (max-width: 567px) {
    bottom: 16px;
    right: 16px;
  }
}