.popup-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  height: 100%;
  left: 0;
  overflow: auto;
  outline: none;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;

  .zero-width-block {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .popup {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    // background: #FFFFFF;
    display: inline-block;
    // margin: 100px 0;
    position: relative;
    text-align: left;
    vertical-align: middle;
    outline: none;
  }
}
