.thumbnai-generator-container
  video.video-js.vjs-default-skin#video-for-thumbnail(
    vjs-video
    controls
    preload="auto"
    vjs-media="vm.data")
  canvas#canvas
  md-button(ng-click="vm.show()") show
