$mobile-width: 567px;

.main-header {
  background-color: #fff;
  box-shadow: 1px 3px 5px 0px rgba(112, 157, 228, .25);
  line-height: 64px;
  vertical-align: middle;
  width: 100%;

  .navigation {
    color:  rgba(0, 0, 0, 0.87);
    display: inline-block;
    height: 12px;
    margin-left: 17px;
    width: 18px;
  }

  .navigation-components {
    display: inline-block;
    width: 100%;

    .header-menu-button {
      display: none;

      @media (max-width: 910px) {
        display: inline-block;
      }
    }

    .menu-icon {
      color: rgba(93, 144, 226, 1);
    }
  }

  .notification-container {
    float: right;
    margin-right: 20px;
    line-height: 64px;
  }

  .email-notification,
  .notifications {
    vertical-align: middle;
    cursor: pointer;
    outline: none;
  }

  .notifications {
    margin-left: 10px;
    color: rgba(93, 144, 226, 1);
    font-size: 24px;
  }

  .logo {
    display: inline-block;
    margin-left: 10px;
    outline: none;
    width: 136px;

    @media (max-width: 380px) {
      width: 100px;
    }
  }
}

.header-menu {
  .photo-container {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, .14);
  }

  .photo {
    background-image: url('/files/images/account_photo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }

  .menu-button {
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    width: 100%;

    span {
      margin-left: 20px;
      vertical-align: middle;
    }

    i {
      vertical-align: middle;
    }
  }

  .menu-button {
    box-shadow: none;
    background-color: none;
    color: #757575;
    transition: .5s;
  }

  .menu-button:hover {
    box-shadow: 4px 4px 10px 0 rgba(112, 157, 228, .5);
    background-color: rgba(93, 144, 226, 1);
    color: #fff;
    transition: .5s;
  }
}

.md-sidenav-left, md-sidenav {
  top: 65px;
}

md-backdrop.md-opaque {
  top: 65px;
}

md-list-item {
  line-height: 0;
}

md-menu-content.notification-menu-content {
  padding: 8px;
  max-width: 380px;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 32px rgba(0,0,144,.2);
  background: #eee;
}

md-menu-item.notification-item {
  min-height: 92px;
  background: #fff;
  border: 1px solid rgba(0,0,0,.08);
  max-width: 380px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 2px;

  .name,
  .text {
    text-align: left;
    color: rgba(0,0,0,.87);
  }

  .name {
    font-size: 16px;
    max-width: 150px;
  }

  .second-name {
    margin-left: 5px;
  }

  .text,
  .date {
    font-size: 14px;
  }

  .date {
    margin-right: 18px;
  }

  .colomn {
    padding: 0;
    padding: 16px 0 16px 16px;
    width: 280px;

    @media(max-width: 600px) {
      width: 200px;
    }
  }

  .rigth-colomn {
    padding: 0 0 16px 0;
    text-align: right;
    color: rgba(0,0,0,.54);
    max-width: 90px;
  }

  .md-button.md-icon-button.button-close {
    background: none;
  }
}

md-menu-item.notification-item {
  transition: .3s;
  box-shadow: 1px 1px 4px rgba(0,0,144,.05);
}

md-menu-item.notification-item:hover {
  transition: .3s;
  box-shadow: 0 6px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  z-index: 2;
  cursor: pointer;
}

.logout-list-item {
  border-top: 1px solid rgba(0, 0, 0, .14);
}