.watchVideoContainer
  header
    .logoContainer
      .logo
        img(src='/files/images/logo.png', alt='logo')
        span.logoText CommerceFocused
    .socialContainer
      .social
        a.linkedin(href='')
          img(src='/files/images/linkedin.png', alt='linkedin')
        a.twitter(href='')
          img(src='/files/images/twitter.png', alt='twitter')
        a.facebook(href='')
          img(src='files/images/facebook.png', alt='facebook')
      .contacts
        .phone
          img(src='/files/images/phone.png', alt='phone')
          p {{vm.user.phone}}
        .email
          img(src='/files/images/email.png', alt='email')
          p {{vm.user.email}}
  .video
    .videoHeader
      .photo
      .text
        p.user-name {{vm.user.name}}
        p.user-role {{vm.user.message}}
    .videoContent
      video.video-js.vjs-default-skin(
        vjs-video
        controls
        preload="auto"
        vjs-media="vm.media")
    .videoFooter
      p.reply-text-placeholder(
        ng-click="vm.chatBoxClick()"
        ng-if="!vm.showChatBox")
        | Type here to reply or hit the button 
        i.fa.fa-video-camera(aria-hidden="true") 
        | &nbsp;to reply with the video
      chat-box(ng-if="vm.showChatBox")

      video-fab-buttons
  footer
    .logo-container
      span.powered Powered by
      img.logo(src='/files/images/logo_bizkonect.png', alt='Bizkonect')
    .rights 2016 All rights reserved