.user-wrapper {
  width: 100%;
  min-height: 100%;

  .title-container {
    width: 100%;
    text-align: center;

    .title {
      display: inline-block;
    }
  }

  .edit-user-form {
    width: 500px;
    margin: 0 auto;

    md-input-container {
      width: 100%;
      margin: 0;
    }
  }

  .button-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}