.chat-reply-box {
  max-width: 600px;
  width: 100%;
  margin: 24px auto;
  position: relative;

  .text-container {
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
  }

  .chat-reply-text {
    font-size: 14px;
    width: 100%;
    border-bottom: none;
  }

  .chat-reply-text::placeholder {
    font-size: 14px;
  }

  .send {
    margin-top: 10px;
  }

  @media (max-width: 650px) {
    width: 90%;

    .send {
      margin-top: 0;
      position: absolute;
      right: 10px;
      bottom: 25px;
    }
  }
}