.chat-reply-box
  md-input-container.text-container(aria-label="text input")
    label Type here to reply
    textarea.chat-reply-text(
      aria-label="text input"
      ng-model="replyMessage")
  button.btn.mdl-button.send(
    ng-click="vm.sendMessage({$data: replyMessage})"
    ng-if="replyMessage")
    | Send