.chat-reply-box
  md-input-container.text-container(aria-label="text input")
    label Type here to reply
    textarea.chat-reply-text(
      aria-label="text input"
      ng-model="vm.replyMessage")
  button.btn.mdl-button.send(
    ng-click="vm.send"
    ng-if="vm.replyMessage")
    | Send