//CONTENT
.templates-content {
  //TEMPLATES
  .templates-container {
    margin: 0 auto;
    max-width: 920px;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  }

  .template {
    padding: 16px 16px 24px 16px;
    background-color: #fff;
    position: relative;
    outline: none;
    cursor: pointer;

    .title,
    .message {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0;
      display: inline-block;
      vertical-align: middle;
      width: 55%;
      color: rgba(0,0,0,.54);
    }

    .title {
      font-size: 16px;
    }

    .message {
      font-size: 14px;
    }

    .button-container {
      position: absolute;
      right: 16px;
      bottom: 25px;
      text-align: right;
    }

    .btn {
      outline: none;
      border: none;
    }

    .delete {
      margin-left: 10px;
    }
  }

  .template {
    transition: .3s;
    z-index: 1;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.35);
  }

  .template-container:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  .template-container:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .template:hover {
    transition: .3s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
    z-index: 2;
  }
}
