.templates-content
  .templates-container
    .template(ng-repeat="item in vm.list")
      p.title
        span(
        ng-if="item.title && item.title != null && item.title != undefined"
        ng-bind="item.title")
        span(ng-if="!item.title || item.title === null || item.title === undefined") Untitle
      p.message
        span(
        ng-if="item.message && item.message != null && item.message != undefined"
        ng-bind="item.message")
        span(ng-if="!item.message || item.message === null || item.message === undefined") No message
      .button-container
        button.btn.mdl-button.mdl-js-button.use(ng-click="vm.onUseClick({$data: item.id})") 
          | Use
        button.btn.mdl-button.delete(ng-click="vm.onDelete({$data: item.id})")
          i.material-icons delete