.video-fab-buttons {
  .upload,
  .record {
    background: none;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 4px 11px 0px rgba(0, 0, 0, 0.35);
    color: rgba(255, 255, 255, 0.87);
    cursor: pointer;
    display: block;
    font-size: 20px;
    outline: none;

    a {
      color: rgba(255,255,255,0.87);
      text-decoration: none;
    }
  }

  .upload {
    background-color: $upload-buttons-color;
    height: 40px;
    line-height: 39px;
    margin-left: 8px;
    width: 40px;

    .upload-icon {
      display: inline-block;
    }
  }

  .record {
    background-color: $record-buttons-color;
    height: 56px;
    line-height: 54px;
    position: relative;
    width: 56px;
    z-index: 1;

    .video-icon {
      display: inline-block;
    }

    .video-icon {
      transform: rotation(0deg);
      transition: 0.5s;
    }
  }

  .record {
    margin-top: -50px;
    transition: 0.35s;
  }

  &:hover {
    .record {
      box-shadow: 2px 4px 11px 0px rgba(0, 0, 0, 0.75);
      margin-top: 10px;
      transition: 0.35s;

      .video-icon {
        transform: rotate(720deg);
        transition: 0.5s;
      }
    }
  }
}
