fab-buttons.video-fab-buttons
  span.upload(ng-click="vm.uploadBtnClick()")
    span.upload-icon
      .fa.fa-cloud-upload(aria-hidden="true")
  span.record(ng-click="vm.recordBtnClick()")
    span.video-icon
      .fa.fa-video-camera(aria-hidden="true")