<div class="container">
  <div class="popupContainer">
    <div class="uploadIconContainer">
      <button type="button" class="uploadIcon"></button>
    </div>
    <p class="popupTitle">Select files to upload</p>
    <p class="popupSubTitle">Or drag and drop video files</p>
    <div class="buttonContainer">
      <button type="button" class="cancel">CANCEL</button>
    </div>
  </div>
</div>