<div class="container">
  <div class="popupContainer">
    <div class="uploadIconContainer">
      <img src="/assets/upload.svg" alt="" class="uploadIcon">
    </div>
    <p class="popupTitle">Select files to upload</p>
    <p class="popupSubTitle">Or drag and drop video files</p>
    <div class="buttonContainer">
      <button type="button" class="cansel">CANSEL</button>
    </div>
  </div>
</div>