{{#auth-checker redirect=(route-action "redirectToAuth" "session.isAuthenticated")}}
  <div class="library-wrapper">
    {{library-header}}
    {{library-navigation}}
    {{library-container videos=model}}
  </div>
{{/auth-checker}}