<div class="watchVideoContainer">
  <header>
    <div class="logo">
      <img src="/assets/logo.png" alt="">
      <span class="logoText">BIZKONECT</span>
    </div>
    <div class="social">
      <a href="" class="linkedin"></a>
      <a href="" class="twitter"></a>
      <a href="" class="facebook"></a>
    </div>
  </header>
  {{#each model as |videos|}}
    <div class="video">
      <div class="videoHeader">
        <div class="photo"></div>
        <div class="text">
          <p class="userName">{{videos.name}}</p>
          <p class="userMessage">{{videos.message}}</p>
        </div>
      </div>
      <iframe width="640" height="400" src="https://www.youtube.com/embed/VXEkoXgb4bI" frameborder="0" allowfullscreen></iframe>
      <div class="videoFooter">
        <button class="reply mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
          <img src="/assets/replyButton.png" alt="">
        </button>
      </div>
    </div>
  {{/each}}
  <div class="line"></div>
</div>