.chat-list-container {
  width: 100%;
  padding-bottom: 100px;
  
  .message-container {
    width: 100%;
    text-align: left;
    margin-top: 16px;

    .photo {
      float: left;
    }
  }

  .message {
    width: 500px;
    padding: 6px 6px 14px 6px;
    margin: 10px 0 0 20px;
    word-wrap: break-word;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
    border: 10px solid transparent;
    position: relative;
    display: inline-block;

    @media (max-width: 650px) {
      width: 300px;
    }

    @media (max-width: 450px) {
      width: 200px;
    }
  }

  .message:after {
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
    position: absolute;
    top: -10px;
    left: -28px;
  }

  .message-container.income {
    width: 100%;
    text-align: right;

    .photo {
      float: right;
      margin-right: 10px;
    }

    .message {
      margin: 10px 20px 0 0;
      background-color: #f9f9f9;
    }

    .message:after {
      content: '';
      border: 10px solid transparent;
      border-left: 10px solid #f9f9f9;
      border-top: 10px solid #f9f9f9;
      position: absolute;
      top: -10px;
      left: 520px;

      @media (max-width: 650px) {
        left: 320px;
      }

      @media (max-width: 450px) {
        left: 220px;
      }
    }
  }

}