.chat-list-container
  .message-container(
    ng-repeat="item in vm.list track by $index"
    ng-class="item.className"
  )
    .photo(ng-if="!item.photo")
    .photo(
      ng-if="item.photo"
      ng-style="{backgroundImage: 'url('+ item.photo + ')' }")
    .message {{item.message}}
